
@{
    ViewData["Title"] = "About";
}

<h1 class="display-4" style="text-align: center; font-family:'Pacifico'">
    Visit El Salvador!
</h1>
<br />
<p class="justify">
    El Salvador, officially
    the Republic of El Salvador (literally "Republic of The Savior"), is the smallest
    and the most densely populated country in Central America. It is bordered on the northeast by Honduras, on the northwest
    by Guatemala, and on the south by the Pacific Ocean. El Salvador's capital and largest city is San Salvador. As of 2018,
    the country had a population of approximately 6.42 million.
</p>
<h3>Economy</h3>
<p class="justify">
    The colón, the official currency of El Salvador since 1892, was replaced by the U.S. dollar in 2001.
    El Salvador ranks 16th among Latin American countries in terms of the Human Development Index and fourth in Central
    America (behind Panama, Costa Rica, and Guatemala) due in part to ongoing rapid industrialisation.
</p>
<h3>Geography</h3>
<p class="justify">
    El Salvador lies in the isthmus of Central America between latitudes 13° and 15°N, and longitudes 87° and 91°W.
    It stretches 168 mi from west-northwest to east-southeast and 88 mi north to south, with a total area
    of 8,124 sq mi. As the smallest country in continental America, El Salvador is affectionately called
    Pulgarcito de America (the "Tom Thumb of the Americas"). The highest point in El Salvador is Cerro El Pital,
    at 8,957 ft, on the border with Honduras.
</p>

<h3>Weather</h3>
<p class="justify">
    El Salvador has a tropical climate with pronounced wet and dry seasons. Temperatures vary primarily with elevation
    and show little seasonal change. The Pacific lowlands are uniformly hot; the central plateau and mountain areas are more
    moderate. The rainy season extends from May to October; this time of year is referred to as invierno or winter.
    Almost all the annual rainfall occurs during this period; yearly totals, particularly on southern-facing mountain slopes,
    can be as high as 2170 mm.
</p>

<p class="justify">
    From November through April, the northeast trade winds control weather patterns; this time of year is referred to as
    verano, or summer. During these months, air flowing from the Caribbean has lost most of its precipitation while passing over
    the mountains in Honduras.
</p>

<p class="justify">
    The best time to visit El Salvador would be at the beginning or end of the dry season. Protected areas and the
    central plateau receive less, although still significant, amounts.
</p>


<br />
<img src="~/images/info.png" style="border-radius: 25px; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" />

