
@{
    ViewData["Title"] = "Beach";
}

<h1 class="display-4" style="text-align: center">Get a perfect tan in our beaches!</h1>
<p style="text-align: center">From nice relaxing beaches to exciting international surf tournaments, El Salvador has a wide variety of beaches to adapt to any type of tourist.</p>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color:#92C4EE; border-width: 3px">
    <img class="card-img-top" src="~/images/costa-del-sol.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>Costa del Sol</h3>
        <p class="card-text" style="text-align: justify">
            Costa del sol is a very famous beach located in the department of La Paz, is well known as one of the most exclusive 
            beaches in the country, Costa del Sol is divided in two areas, one is the beautifull sandy beach right at the shore of 
            .the ocean and the other side is the mangroove where most of the different land lords of the exclusive beach houses residential have boats and yats.<p/>

        <p>Costa del Sol is also known because it has the best hotels with higher standard and quality like Confort inn, Bahia del Sol, Tesoro Beach, and several mores.
            At Costa del Sol the different activities are hourse riding, boat trips at the mangrooves and in the ocean, fishing expeditions, renting jet sky and stand up paddle. 
            To make the different activities is always better to contact a tour operator company.
        </p>
    </div>
</div>

<div class="card" style="width: auto; border-radius: 25px; margin: 2em; border-color: #92C4EE; border-width: 3px ">
    <img class="card-img-top" src="~/images/malecon.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>El Puerto de La Libertad</h3>
        <p class="card-text" style="text-align: justify">
            El Puerto de La Libertad is one of the most representative tourist destinations in El Salvador. This resort called "El Malecon" by the locals includes a boardwalk,
            restaurants and an amphitheater, while small seafood markets and craft shops are located at the wharf. Other beaches located in the municipality include Las Flores,
            San Diego, El Obispo, La Paz and El Majahual.
        <p />

        <p>
            La Libertad has one of the best right hand point breaks in Central America, and is El Salvador's surf capital, with surf shops, board rentals and repair shops.
            Punta Roca (Rock Point) hosts regional and international surfing championships. It is known for its fast and hollow waves, many of which break for 100–200 yards
        </p>        
    </div>
</div>