
@{
    ViewData["Title"] = "City";
}

<h1 class="display-4" style="text-align: center">Find exciting and great things in our Cities!</h1>
<br />

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #CFCFC4; border-width: 3px">
    <img class="card-img-top" src="~/images/centross.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>San Salvador Historic Downtown</h3>
        <p class="card-text" style="text-align: justify">
            This downtown located since the 16th century contains a great variety of monuments and historic building for
            people to explore. Among the most notable sites you can find:
        <p />
        <ul>
            <li>National Palace</li>
            <li>Metropolitan Cathedral</li>
            <li>National Theather</li>
            <li>Calle Arce</li>
            <li>Plaza Gerardo Barrios</li>
        </ul>
    </div>
</div>

<h2>Shopping Malls:</h2>
<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #CFCFC4; border-width: 3px">
    <img class="card-img-top" src="~/images/granvia.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>La Gran Via</h3>                   
    </div>
</div>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #CFCFC4; border-width: 3px">
    <img class="card-img-top" src="~/images/multiplaza.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>Multiplaza</h3>
    </div>
</div>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #CFCFC4; border-width: 3px">
    <img class="card-img-top" src="~/images/metrocentro.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>Metrocentro</h3>
    </div>
</div>