
@{
    ViewData["Title"] = "City";
}

<h1 class="display-4">Find exciting and great things in our Cities!</h1>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #b4ecb4; border-width: 3px">
    <img class="card-img-top" src="~/images/parquenacionalvolcanes.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>La Gran Via</h3>
        <p class="card-text" style="text-align: justify">
            
        <p />

        <p>
            
        <p />

        <p>
            
        </p>
    </div>
</div>
