@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-md-left">
        <h1 class="display-4">Best places to visit in El Salvador</h1>
        <p>Here you will find a list of great places for all likes to visit in El Salvador. Mountain, beach or city? We have it!</p>



        <br/>

        <h3>San Salvador</h3>
        <a href="https://en.wikipedia.org/wiki/San_Salvador"><img src="~/images/centross.jpg" width="800" height="500" style="border-radius: 25px" /></a>
        <br/>
        <p></p>
        <p>Travel to the booming capital of this amazing country where you can find arts, history and culture mixed together perfectly in just a few blocks.</p>

        <h3>El Pital</h3>
        <a href="https://en.wikipedia.org/wiki/Cerro_El_Pital"><img src="~/images/Pital.jpg" width="800" height="500" style="border-radius: 25px" /></a>
        <br/>
        <p></p>
        <p>Camp and have fun with your family in El Salvador's highest peak</p>

        <h3>Costa del Sol</h3>
        <a href="#"><img src="~/images/costa-del-sol.jpg" width="800" height="500" style="border-radius: 25px" /></a>
        <br/>
        <p></p>
        <p>Relax or surf in this worldwide famous surfing spot in El Salvador</p>
    </div>
