@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-md-left">
        <h1 class="display-4">Best places to visit in El Salvador</h1>
        <p>Here you will find a list of great places for all likes to visit in El Salvador. Mountain, beach or city? We have it!</p>

        <div class="card" style="width: auto; border-radius: 25px; margin:2em">
            <img class="card-img-top" src="~/images/centross.jpg" alt="Card image cap" style="border-radius: 25px">
            <div class="card-body">
                <h3>San Salvador</h3>
                <p class="card-text" style="text-align: justify">
                    capital of this amazing country where you can find arts, history and culture mixed together perfectly in just a few blocks.
                </p>
            </div>
        </div>

        <div class="card" style="width: auto; border-radius: 25px; margin:2em">
            <img class="card-img-top" src="~/images/Pital.jpg" alt="Card image cap" style="border-radius: 25px">
            <div class="card-body">
                <h3>El Pital</h3>
                <p class="card-text" style="text-align: justify">
                    Camp and have fun with your family in El Salvador's highest peak
                <p/>
            </div>
        </div>
     
        <div class="card" style="width: auto; border-radius: 25px; margin:2em">
            <img class="card-img-top" src="~/images/sol.jpg" alt="Card image cap" style="border-radius: 25px">
            <div class="card-body">
                <h3>Costa del Sol</h3>
                <p class="card-text" style="text-align: justify">
                    Relax or surf in this worldwide famous surfing spot in El Salvador
            </div>
        </div>             
    </div>
