@{
    ViewData["Title"] = "Home Page";
}

<h1 style="font-family:'Pacifico'; text-align: center; font-size:5em">Visit the Tom Thumb of the Americas!</h1>
<figure>
    <img class="center" src="~/images/elsalvadormapa.svg" longdesc="https://commons.wikimedia.org/wiki/File:El_Salvador_Stub.svg"
         alt="Map of El Salvador" height="500" title="Map of El Salvador with the flag embedded in it by Thommy9 https://commons.wikimedia.org/wiki/File:El_Salvador_Stub.svg"/>
</figure>