@{
    ViewData["Title"] = "Home Page";
}

<h1 style="font-family:'Pacifico'">Visit the Tom Thumb of the Americas!</h1>
<figure>
    <img src="~/images/elsalvadormapa.svg" longdesc="https://commons.wikimedia.org/wiki/File:El_Salvador_Stub.svg"
         alt="Map of El Salvador"/>
</figure>
<figcaption>
    Map of El Salvador with the flag embedded in it by <a href="https://commons.wikimedia.org/wiki/File:El_Salvador_Stub.svg">Thommy9</a>
</figcaption>
