@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="display-4" style="text-align: center">
        Visit El Salvador!
    </h1>
<br />
<br />
    <img src="~/images/info.png" style="border-radius: 25px; display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;"/>
