
@{
    ViewData["Title"] = "Mountain";
}

<h1 class="display-4">For all the mountain lovers!</h1>
<p>El Salvador is a very mountainous country, with two main Mountain systems crossing it from west to east in the North and in the 
    center of the nation. Here you can find some of the most beautiful mountains and volcanoes in the country:</p>



<div class="card" style="width: auto; border-radius: 25px; margin:2em">
    <img class="card-img-top" src="~/images/parquenacionalvolcanes.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>Parque Nacional de Los Volcanes</h3>
        <p class="card-text" style="text-align: justify">
            The weather is almost always cool (between 42° and 46° F), although it might vary drastically and become warmer, this possible variation depends on the sun.
            Early in the morning and at night, as well as when it is clouded or windy, temperature lowers. On a normal day, the weather will be between 61 and 75° C.
            From May to October, it rains heavily, which is why we recommend camping in the remaining months.

            Los Volcanes National Park is a protected natural area in El Salvador comprising three of the 14 “young” volcanoes (between 2 million and 250 years,
            according to geologists) of the Cordillera Apaneca-Lamatepec: volcanoes of Santa Ana, Izalco and Cerro Verde, located in Santa Ana and Sonsonate.

            Located at the eastern end of the mountains, Los Volcanes National Park has become an important biological corridor next to El Imposible National Park
            (west end). This means that wildlife species have a “bridge” that they use to go from one park to the other, through over 40 kms of shaded coffee
            plantations and upland forests. Therefore, El Salvador identifies Los Volcanes among its priorities when it comes to the conservation of natural areas.

            With 4,500 hectares, it comprises state land, private land and municipal land. Its elevations vary from 1,640 and 7,808 feet above the sea.

            The Park is located in the Biosphere Reserve Apaneca- Llamatepec, declared as such by UNESCO (United Nations Educational, Scientific and Cultural
            Organization) in 2007. The Park’s location is characterized by coffee production, which is an important economic activity for the locals.
            The area also allows production of grains, flowers, honey, as well as, livestock and sugarcane.
        </p>
    </div>
</div>

<div class="card" style="width: auto; border-radius: 25px; margin:2em">
    <img class="card-img-top" src="~/images/Pital.jpg" alt="Card image cap" style="border-radius: 25px;">
    <div class="card-body">
        <h3>El Pital</h3>
        <p class="card-text" style="text-align: justify">
            Cerro El Pital is a mountain in Central America, on the border of El Salvador . It is located 7 mi from the town of La Palma at a height
            of 8,957 ft above sea level, and is the highest point in Salvadoran territory. Cerro El Pital is in the middle of a cloud forest
            that has an average annual temperature of 50 °F.

            It is one of the most popular tourist draws in El Salvador, with great biodiversity in a wide altitudinal range containing many endangered species
            of flora and fauna. The cloud forest has some of the rarest plants and animals in the country, including quetzals and other endangered species.

            From November to February the temperature ranges between 21 °F and 50 °F and in the rest of
            the year the temperature ranges between 41 °F and 63 °F. It is known in the region as one of the best areas to go camping and connect with nature for
            the great diversity of fauna that lives in this mountain.
        </p>
    </div>
</div>
<p></p>
<div class="card" style="width: auto; border-radius: 25px; margin:2em">
    <img class="card-img-top" src="~/images/Pital.jpg" alt="Card image cap" style="border-radius: 25px">
    <div class="card-body">
        <h3>FURESA (Fundacion Refugio Salvaje)</h3>
        <p class="card-text" style="text-align: justify">
            Cerro El Pital is a mountain in Central America, on the border of El Salvador . It is located 7 mi from the town of La Palma at a height
            of 8,957 ft above sea level, and is the highest point in Salvadoran territory. Cerro El Pital is in the middle of a cloud forest
            that has an average annual temperature of 50 °F.

            It is one of the most popular tourist draws in El Salvador, with great biodiversity in a wide altitudinal range containing many endangered species
            of flora and fauna. The cloud forest has some of the rarest plants and animals in the country, including quetzals and other endangered species.

            From November to February the temperature ranges between 21 °F and 50 °F and in the rest of
            the year the temperature ranges between 41 °F and 63 °F. It is known in the region as one of the best areas to go camping and connect with nature for
            the great diversity of fauna that lives in this mountain.
        </p>
    </div>
</div>
