
@{
    ViewData["Title"] = "Mountain";
}

<h1 class="display-4" style="text-align: center; font-family:'Pacifico'">For all the mountain lovers!</h1>
<p style="text-align: center">
    El Salvador is a very mountainous country, with two main Mountain systems crossing it from west to east in the North and in the
    center of the nation. Here you can find some of the most beautiful mountains and volcanoes in the country:
</p>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #836953 ; border-width: 3px">
    <img class="card-img-top" src="~/images/parquenacionalvolcanes.jpg" alt="Card image cap" style="border-radius: 25px"
         title="Courtesy of MITUR (Ministry of Tourism of El Salvador)">
    <div class="card-body" >
        <h3>Parque Nacional de Los Volcanes</h3>
        <p class="card-text" style="text-align: justify">
            The weather is almost always cool (between 42° and 46° F), although it might vary drastically and become warmer, this possible variation depends on the sun.
            Early in the morning and at night, as well as when it is clouded or windy, temperature lowers. On a normal day, the weather will be between 61 and 75° C.
            From May to October, it rains heavily, which is why we recommend camping in the remaining months.
        <p />

        <p>
            Los Volcanes National Park is a protected natural area in El Salvador comprising three of the 14 “young” volcanoes (between 2 million and 250 years,
            according to geologists) of the Cordillera Apaneca-Lamatepec: volcanoes of Santa Ana, Izalco and Cerro Verde, located in Santa Ana and Sonsonate.

            Located at the eastern end of the mountains, Los Volcanes National Park has become an important biological corridor next to El Imposible National Park
            (west end). This means that wildlife species have a “bridge” that they use to go from one park to the other, through over 40 kms of shaded coffee
            plantations and upland forests. Therefore, El Salvador identifies Los Volcanes among its priorities when it comes to the conservation of natural areas.
        <p />

        <p>
            With 4,500 hectares, it comprises state land, private land and municipal land. Its elevations vary from 1,640 and 7,808 feet above the sea.

            The Park is located in the Biosphere Reserve Apaneca- Llamatepec, declared as such by UNESCO (United Nations Educational, Scientific and Cultural
            Organization) in 2007. The Park’s location is characterized by coffee production, which is an important economic activity for the locals.
            The area also allows production of grains, flowers, honey, as well as, livestock and sugarcane.
        </p>
    </div>
</div>

<div class="card" style="        width: auto;
        border-radius: 25px;
        margin: 2em;
        border-color: #836953;
        border-width: 3px
">
    <img class="card-img-top" src="~/images/Pital.jpg" alt="Card image cap" style="border-radius: 25px;"
         title="Courtesy of MITUR (Ministry of Tourism of El Salvador)">
    <div class="card-body">
        <h3>El Pital</h3>
        <p class="card-text" style="text-align: justify">
            Cerro El Pital is a mountain in Central America, on the border of El Salvador . It is located 7 mi from the town of La Palma at a height
            of 8,957 ft above sea level, and is the highest point in Salvadoran territory. Cerro El Pital is in the middle of a cloud forest
            that has an average annual temperature of 50 °F.
        <p />

        <p>
            It is one of the most popular tourist draws in El Salvador, with great biodiversity in a wide altitudinal range containing many endangered species
            of flora and fauna. The cloud forest has some of the rarest plants and animals in the country, including quetzals and other endangered species.
        <p />

        <p>
            From November to February the temperature ranges between 21 °F and 50 °F and in the rest of
            the year the temperature ranges between 41 °F and 63 °F. It is known in the region as one of the best areas to go camping and connect with nature for
            the great diversity of fauna that lives in this mountain.
        </p>
    </div>
</div>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #836953; border-width: 3px">
    <img class="card-img-top" src="~/images/furesa.jpg" alt="Card image cap" style="border-radius: 25px"
         title="Courtesy of MITUR (Ministry of Tourism of El Salvador)">
    <div class="card-body">
        <h3>FURESA (Fundacion Refugio Salvaje)</h3>
        <p class="card-text" style="text-align: justify">
            FURESA has got as purpose to rescue and take care of wild endangered animals and to educate the public on the importance of protecting their environment.
        <p />

        <p>
            In this park located in a mountain, you can hike and explore all the different species saved in it. FURESA houses over 60 animals of 11 species endangered:
            African lions, Bengal tigers, jaguars, hippos, lions, foxes, guaras, tapirs, monkeys and others.
        </p>
    </div>
</div>

<div class="card" style="width: auto; border-radius: 25px; margin:2em; border-color: #836953; border-width: 3px">
    <img class="card-img-top" src="~/images/imposible.jpg" alt="Card image cap" style="border-radius: 25px"
         title="Courtesy of MITUR (Ministry of Tourism of El Salvador)">
    <div class="card-body">
        <h3>El Impossible Forest</h3>
        <p class="card-text" style="text-align: justify">
            El Imposible is the largest national park of El Salvador and is located in the coastal elevations of the Pacific Ocean in Ahuachapán, between the
            municipalities of San Francisco Menéndez and Tacuba, south-west of the Ruta de las Flores.
        <p />

        <p>
            This protected area is considered the country’s most important natural relic for being an endangered (dry and tropical dry forest) ecosystem, but also
            for being one of the last refuges for an incredibly diverse community of wildlife, source of water for the area and owner of scenic beauty
            for sustainable tourism development.
        <p />

        <p>
            It is for this reason, that, every year, El Imposible receives over 8,000 tourists visiting its 4,000 hectares of forest, which are protected by 25
            rangers and shown by a team of 20 local tourist guides. In the park, visitors may find: 500 plant species, over 100 mammals, 53 amphibians and reptiles, 285 birds
            and over 5,000 species of butterflies.
        <p />

        <p>
            But tourists also look for adventure not found anywhere else in the country. The steep topography of El Imposible certainly becomes an opportunity for extreme
            walking tours and taking breathtaking pictures.
        <p />

        <p>
            The hikes take place between the lower and the steep slopes, watching the suspended rocks from below, next to the cliffs and the rivers, with its water
            running through flat strips and falling in surprising hollows. This trip’s warm temperature definitely restores health and tests our visitor’s physical condition.
        </p>
    </div>
</div>

