
@{
    ViewData["Title"] = "Mountain";
}

<h1 class="display-4">For all the mountain lovers!</h1>
<p>El Salvador is a very mountainous country, with two main Mountain systems crossing it from west to east in the North and in the 
    center of the nation. Here you can find some of the most beautiful mountains and volcanoes in the country:</p>

<ul>
    <li>
        <h3>Parque Nacional de Los Volcanes</h3>
        <br/>
        <a href="https://www.lonelyplanet.com/el-salvador/attractions/parque-nacional-los-volcanes/a/poi-sig/1021552/358395">
            <img src="~/images/parquenacionalvolcanes.jpg" width="800" height="500" style="border-radius: 25px" /></a>
        <p></p>
        <p style="text-align: justify">
            The weather is almost always cool (between 42° and 46° F), although it might vary drastically and become warmer, this possible variation depends on the sun. 
            Early in the morning and at night, as well as when it is clouded or windy, temperature lowers. On a normal day, the weather will be between 61 and 75° C. 
            From May to October, it rains heavily, which is why we recommend camping in the remaining months.

            Los Volcanes National Park is a protected natural area in El Salvador comprising three of the 14 “young” volcanoes (between 2 million and 250 years, 
            according to geologists) of the Cordillera Apaneca-Lamatepec: volcanoes of Santa Ana, Izalco and Cerro Verde, located in Santa Ana and Sonsonate.

            Located at the eastern end of the mountains, Los Volcanes National Park has become an important biological corridor next to El Imposible National Park 
            (west end). This means that wildlife species have a “bridge” that they use to go from one park to the other, through over 40 kms of shaded coffee 
            plantations and upland forests. Therefore, El Salvador identifies Los Volcanes among its priorities when it comes to the conservation of natural areas.

            With 4,500 hectares, it comprises state land, private land and municipal land. Its elevations vary from 1,640 and 7,808 feet above the sea.

            The Park is located in the Biosphere Reserve Apaneca- Llamatepec, declared as such by UNESCO (United Nations Educational, Scientific and Cultural 
            Organization) in 2007. The Park’s location is characterized by coffee production, which is an important economic activity for the locals. 
            The area also allows production of grains, flowers, honey, as well as, livestock and sugarcane.
        </p>
    </li>
</ul>
